#struct{
    float: left;
    height: 80vh;
    background: #ffffff;
    border-right: 5px solid #7BCCCC;
    position: relative;
    min-width: 200px;
}

#plus{
    height: 25px;
    padding: 5px 5px 5px 5px;
    background-color: #9FBBBB;
}

#pimg{
    height: 25px;
    background-image: url("../Images/plus.png");
    background-repeat: no-repeat;
    background-size: 24px 24px;
    width: 25px;
    float: left;
}

#filestitle{
    float: left;
    width: 30px;
    margin-top: 3px;
    margin-right: 45px;
    text-align: center;
    font-size: 14px;
    color: rgb(63, 64, 63);
    margin-bottom: 7px;
    font-family: 'Questrial',sans-serif;
}



#dropdownmenu{
    float: right;
    width: 20px;
    margin-top: 3px;
    text-align: center;
    background-image: url("../Images/dropwdownmenu.png");
    background-size: 20px 20px;
    height: 25px;
    background-repeat: no-repeat;
    margin-left: 20px;

}

#dropdownmenu:hover{
    cursor: pointer;
}

#activeline{
    display: block;
    height: 25px;
    background-color: rgb(119, 119, 119);
    font-size: 12px;
    padding-top: 5px;
    white-space: nowrap;
}

#line{
    display: block;
    height: 25px;
    font-size: 12px;
    padding-top: 5px;
    white-space: nowrap;
}

#line:hover {
    cursor: pointer;
}

.msg{
    width: 12px;
    height: 12px;
    margin-top: 4px;
    float: right;
    margin-right: 5px;
}

.msge{
    width: 12px;
    height: 12px;
    cursor: pointer;
    margin-top: 4px;
    float: right;
    margin-right: 5px;

}

.fileIcon{
    margin-right: 4px;
    margin-top: 4px;
    position: absolute;
    padding-left: 5px;

}

.fileName{
    float: left;
    margin-top: 3px;
    position: absolute;
    padding-left: 25px;
    width: 70%;
    overflow: hidden;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-family: 'Questrial',sans-serif;
    z-index: 15;
    top: 10px;
    left: 10px;
    font-size: 12px;
}

/* Links inside the dropdown */
.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content div:hover {background-color: #f1f1f1; cursor: pointer}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

