#verifholder{
    float: left;
    width: 35%;
    height: 80vh;

}

#verificationLabel{
    height: 21px;
    margin-top: 4px;
    margin-left: 10px;
    font-size: 16px;
    color: rgb(63, 64, 63);
    font-family: 'Questrial',sans-serif;


}