#struct{
    float: left;
    width: 150px;
    height: 500px;
    background: grey;

}

#edit{
    float: left;
}

#header{
    display: block;
    width: 100%;
    height: 20px;
    background: darkslateblue;
}

#lab{
    color: white;
    font-size: 14px;
    margin-left: 150px ;
}

#sel{
    size: 2px;
}

#plus{
    height: 25px;
    padding: 5px 5px 5px 5px;
    border-bottom: 2px solid black;
}

#pimg{
    height: 25px;
    background-image: url("plus.png");
    background-repeat: no-repeat;
}

#line{
    display: block;
    height: 25px;
    padding: 5px 5px 5px 5px;
    border-bottom: 2px solid black;

}

#line:hover {
    background-color: darkmagenta;
}

.msg{
    width: 12px;
    height: 12px;

}

.msge{
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: gray();
}

.popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    width: 150px;
    height: 70px;
    bottom: 25%;

    background: dimgrey;
    color: white;
    text-align: center;
    border-style: solid;
    border-color: lightslategrey;
    border-width: 5px 5px 5px 5px;
}

#activeline{
    display: block;
    height: 25px;
    padding: 5px 5px 5px 5px;
    border-bottom: 2px solid black;
    background-color: lightslategrey;
}